body{
    background: rgb(34,193,195);
    background: linear-gradient(13deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    background-attachment: fixed;
    margin: 0;
    font-family:'poppins',sans-serif;
}

#form{
    width:400px;
    margin: 20vh auto 0 auto;
    background-color: whitesmoke;
    border-radius: 5px;
    padding: 30px;
}

h1{
    text-align: center;
    color: orange;
}

#form button{
    background-color: orange;
    color:white;
    border: 1px solid orange;
    padding:10px;
    border-radius: 5px;
    cursor: pointer;
    margin: 20px 0px;
    font-size: 20px;
    width:100%
}

.error{
    color:red;
    font-size: 16px;
    margin: 5px;
}




